<h1>Welcome to the Cinema Booking App!</h1>
<h2>
    Log in to start booking seats or click on the button below to sign up.
</h2>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>