<div class="flex">
    <%= link_to "+ New Cinema", new_cinema_path,
                                class: "btn btn-md btn-secondary" %>
    <%= link_to "+ New Movie", new_movie_path,
                               class: "btn btn-md btn-secondary" %>
</div>