<% if @free_timeslots.present? %>
    <% turbo_stream.replace "timeslots" do %>
        <div id="timeslots">
            <% @free_timeslots. each do |timeslot| %>
                <li><% timeslot %></li>
            <% end %>
        </div>

        <%#= f.select :timeslot, options_for_select(@free_timeslots), { prompt: "Select timeslot" } %>
    <% end %>
<% end %>