<% provide(:title, @movie.title) %>
<div class="flex">
    <h1><%= @movie.title %></h1>

    <% if current_user.admin? %>
        <div class="btns">
            <%= link_to "Edit", edit_movie_path(@movie),
                                    class: "btn btn-md btn-primary" %>
            <%= link_to "Delete", @movie, data: { "turbo-method": :delete,
                                                   turbo_confirm: "You sure?" },
                                          class: "btn btn-md btn-danger" %>
        </div>
    <% end %>
</div>

<p><%= @movie.synopsis %></p>